<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FENUD - 2018</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/plugins.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">
    <!-- vue element -->
    <div id="app">

        <!--PreLoader-->
        <div class="loader">
            <div class="loader-inner">
                <v-progress-circular :size="70" :width="7" color="#ff9e03" indeterminate></v-progress-circular>
            </div>
        </div>
        <!--PreLoader Ends-->

        <!-- header -->
        <header class="site-header">
            <nav class="navbar navbar-expand-lg static-nav">
                <div class="container">
                    <a class="navbar-brand" href="http://www.themesindustry.com/html/xeone/index.html">
                        <img src="img/fenud_logo.jpg" alt="logo">
                    </a>
                    <button class="navbar-toggler navbar-toggler-right collapsed d-none" type="button" data-toggle="collapse"
                        data-target="#xenav">
                        <span> </span>
                        <span> </span>
                        <span> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="xenav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link pagescroll toUpper" href="#home">ACCUEIL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-feature">PRESENTATION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-team">INTERVENANTS</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-portfolio">MéDIATHèQUE</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-process">PROGRAMME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-testimonial">PARTENAIRES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#contactus">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--side menu open button-->
                <a href="javascript:void(0)" class="d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
                    <span></span> <span></span> <span></span>
                </a>
            </nav>

            <!-- side menu -->
            <div class="side-menu">
                <div class="inner-wrapper">
                    <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                    <nav class="side-nav">
                        <ul class="navbar-nav w-100">
                            <li class="nav-item active">
                                <a class="nav-link pagescroll toUpper" href="#home">ACCUEIL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-feature">PRESENTATION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-team">INTERVENANTS</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-portfolio">MéDIATHèQUE</a>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-process">PROGRAMME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#our-testimonial">PARTENAIRES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link pagescroll toUpper" href="#contactus">CONTACT</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="side-footer w-100">
                        <ul class="social-icons-simple top40">
                            <li><a target="_blank" href="https://web.facebook.com/Fenud.Africa/?hc_ref=ARRgzTDY9fPlhVRlAwKjRnNWvuCEzavolfFvjwQvahkkXR8AThxBtfI_maDjJ53OsaQ&fref=nf">
                                    <i class="fa fa-facebook"></i> </a>
                            </li>
                            <li><a target="_blank" href="https://twitter.com/Fenud_Africa">
                                    <i class="fa fa-twitter"></i> </a>
                            </li>
                        </ul>
                        <p class="blackcolor">© 2018 - FENUD, Un événement du Réseau International Femmes & TIC</p>
                    </div>
                </div>
            </div>
            <a id="close_side_menu" href="javascript:void(0);"></a>
            <!-- End side menu -->
        </header>
        <!-- header -->

        <!--Ful Screen hero Banner-->
        <section class="no-padding wow fadeIn no-transition" id="home">
            <v-carousel hide-delimiters :height=720>
                <v-carousel-item v-for="(item,i) in slides" :key="i" :src="item.src"></v-carousel-item>
            </v-carousel>
        </section>
        <!-- end Ful Screen hero Banner -->


        <!-- Video Click -->
        <section id="video-bg" class="video-parallax padding_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="heading-title text-md-left text-center padding_bottom wow fadeInLeft"
                            data-wow-delay="300ms">
                            <span class="toUpper">Présentation</span>
                            <h2 class="fontregular bottom20 darkcolor">#FENUD2018</h2>
                            <p>Placée sous le signe de la recherche de propositions concrètes pour relever les défis du
                                genre
                                liés à la rapide transformation numérique de la société et de la valorisation des
                                innovations
                                portées par les jeunes filles et les femmes, la 1ère édition de la Conférence
                                internationale
                                « Femme, Numérique et Développement », organisée par le réseau international "Femmes &
                                TIC",
                                vise à proposer la contribution des femmes au développement par le numérique et à
                                mesurer
                                l'impact de l’Économie Numérique dans l'atteinte des Objectifs du Développement Durable
                                en
                                faveur de l’autonomisation économique des femmes.Du 16 au 17 novembre 2017, à Abidjan,
                                Gouvernants, partenaires au développement, secteur privé, société civile, se réuniront
                                pour échanger, se former, mutualiser les efforts en vue de solutions</p>
                            <!-- <a href="#contactus" class="button btnprimary fontmedium top20 pagescroll">Buy Now</a> -->
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 padding_bottom wow fadeInRight" data-wow-delay="350ms" style="margin-top: 25px;">
                        <div class="image hover-effect">
                            <img alt="video img" src="img/img-video.png">
                            <a data-fancybox href="https://www.youtube.com/watch?v=GhvD7NtUT-Q&amp;autoplay=1&amp;rel=0&amp;controls=1&amp;showinfo=0"
                                class="button-play fontmedium"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Video Click-->

        <!--Some Feature -->
        <section id="our-feature" class="padding single-feature b-t">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5 wow fadeInLeft" data-wow-delay="350ms">
                        <!-- <div class="image top50"> -->
                        <img alt="SEO" src="img/photo/12.jpg">
                        <!-- </div> -->
                    </div>
                    <div class="col-md-8 col-sm-7 text-md-left text-center wow fadeInRight" data-wow-delay="300ms">
                        <div class="heading-title heading_space">
                            <span>SOUS LE PARRAINAGE</span>
                            <h2 class="darkcolor bottom30">Mme Hadja Fatimata Ouattara</h2>
                            <span>Ministre du développement de l’économie numérique et des postes du Burkina Faso</span>
                        </div>
                        <p class="bottom35">
                            <ul class="social-icons small bottom25 wow fadeInUp" data-wow-delay="300ms">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook text-white"></i> </a> </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter text-white"></i> </a> </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-linkedin text-white"></i> </a> </li>
                            </ul>
                        </p>
                        <!-- <a href="#our-blog" class="button btnsecondary pagescroll">Our Blog</a> -->
                    </div>
                </div>
            </div>
        </section>
        <!--Some Feature ends-->

        <!--Some Feature -->
        <section id="our-feature" class="padding single-feature b-t b-b">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
                        <div class="heading-title heading_space">
                            <span>MARRAINE DE LA COMPETITION WOMEN AND GIRLS STARTUP CHALLENGE </span>
                            <h2 class="darkcolor bottom30">Mme Vera SONGWE</h2>
                            <span>Sécrétaire Générale de l'ONU et Sécrétaire Adjointe Exécutive de la CEA </span>
                        </div>
                        <p class="bottom35">
                            <ul class="social-icons small bottom25 wow fadeInUp" data-wow-delay="300ms">
                                <li><a href="javascript:void(0)"><i class="fa fa-facebook text-white"></i> </a> </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-twitter text-white"></i> </a> </li>
                                <li><a href="javascript:void(0)"><i class="fa fa-linkedin text-white"></i> </a> </li>
                            </ul>
                        </p>
                        <!-- <a href="#our-blog" class="button btnsecondary pagescroll">Our Blog</a> -->
                    </div>
                    <div class="col-md-4 col-sm-5 wow fadeInRight" data-wow-delay="350ms">
                        <!-- <div class="image top50"> -->
                        <img alt="SEO" src="img/photo/onu.jpg">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!--Some Feature ends-->

        <!-- Our Team-->
        <section id="our-team" class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 col-sm-12 text-center">
                        <div class="heading-title wow fadeInUp toUpper" data-wow-delay="300ms">
                            <span>Intervenants</span>
                            <h2 class="darkcolor bottom20 toUpper">de l'événement</h2>
                            <!-- <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-box grey-shade top60 wow fadeIn" data-wow-delay="350ms">
                            <div class="image">
                                <img src="img/photo/10.jpg" alt="">
                            </div>
                            <div class="team-content darkcolor">
                                <h3>Yaovi ATOHOUN.</h3>
                                <p class="nomargin">Stakeholder Engagement & Operations Manager - Africa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-box grey-shade top60 wow fadeIn" data-wow-delay="400ms">
                            <div class="image">
                                <img src="img/photo/17.jpg" alt="">
                            </div>
                            <div class="team-content darkcolor">
                                <h3>Christelle N'CHO ASSIROU.</h3>
                                <p class="nomargin">Présidente Femmes & Tics</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our Team ends-->

        <!-- Counters -->
        <section id="funfacts" class="padding bg-counter-light">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6 col-sm-6 icon-counters darkcolor margin_half wow fadeInUp"
                        data-wow-delay="300ms">
                        <div class="img-icon bottom15">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="counters">
                            <span class="count_nums" data-to="7" data-speed="2500"> </span>
                            <!-- <i class="fa fa-plus"></i> -->
                        </div>
                        <h4>PAYS PARTICIPANTS</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 icon-counters darkcolor margin_half wow fadeInUp"
                        data-wow-delay="350ms">
                        <div class="img-icon bottom15">
                            <i class="fa fa-list"> </i>
                        </div>
                        <div class="counters">
                            <span class="count_nums" data-to="11" data-speed="2500"> </span>
                            <!-- <i class="fa fa-plus"></i> -->
                        </div>
                        <h4>THÈMES</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 icon-counters darkcolor margin_half wow fadeInUp"
                        data-wow-delay="400ms">
                        <div class="img-icon bottom15">
                            <i class="fa fa-microphone"></i>
                        </div>
                        <div class="counters">
                            <!-- <i class="fa fa-plus"></i> -->
                            <span class="count_nums" data-to="8" data-speed="2500"> </span>
                        </div>
                        <h4>INTERVENANTS</h4>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 icon-counters darkcolor margin_half wow fadeInUp"
                        data-wow-delay="450ms">
                        <div class="img-icon bottom15">
                            <i class="fas fa-award"></i>
                        </div>
                        <div class="counters">
                            <!-- <i class="fa fa-plus"></i> -->
                            <span class="count_nums" data-to="39" data-speed="2500"> </span>
                        </div>
                        <h4>RÉCOMPENSES</h4>
                    </div>
                </div>
            </div>
        </section>
        <!--Counters ends-->

        <!-- WOrk Process-->
        <section id="our-process" class="padding bglight">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                            <span>PROGRAMME </span>
                            <h2 class="darkcolor bottom20">DE L'EVENEMENT</h2>
                        </div>
                    </div>
                </div>
                <div class="row our-process">

                    <div class="col-lg-3 col-md-2" @click="active = 1">
                        <div class="process-number top60 wow fadeInUp" data-wow-delay="350ms">
                            <span class="pro-step">1</span>
                            <h4 class="font-light darkcolor top20 bottom20"> Plan</h4>
                            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-2" @click="active = 2">
                        <div class="process-number top60 even wow fadeInUp" data-wow-delay="400ms">
                            <span class="pro-step">2</span>
                            <h4 class="font-light darkcolor top20 bottom20"> Design</h4>
                            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-2" @click="active = 3">
                        <div class="process-number top60 wow fadeInUp" data-wow-delay="450ms">
                            <span class="pro-step">3</span>
                            <h4 class="font-light darkcolor top20 bottom20"> Development</h4>
                            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-2" @click="active = 4">
                        <div class="process-number top60 even wow fadeInUp" data-wow-delay="500ms">
                            <span class="pro-step">4</span>
                            <h4 class="font-light darkcolor top20 bottom20"> Maintenance</h4>
                            <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="process-number top60 even wow fadeInUp" data-wow-delay="500ms">
                            <v-fade-transition hide-on-leave>
                                <aside v-if="active === 1">
                                    <h4 class="font-light darkcolor top20 bottom20" style="padding-top: 45px;"> Plan</h4>
                                    <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                                </aside>
                            </v-fade-transition>
                            <v-fade-transition hide-on-leave>
                                <aside v-if="active === 2">
                                    <h4 class="font-light darkcolor top20 bottom20" style="padding-top: 45px;"> Design</h4>
                                    <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                                </aside>
                            </v-fade-transition>
                            <v-fade-transition hide-on-leave>
                                <aside v-if="active === 3">
                                    <h4 class="font-light darkcolor top20 bottom20" style="padding-top: 45px;">
                                        Development</h4>
                                    <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                                </aside>
                            </v-fade-transition>
                            <v-fade-transition hide-on-leave>
                                <aside v-if="active === 4">
                                    <h4 class="font-light darkcolor top20 bottom20" style="padding-top: 45px;">
                                        Maintenance</h4>
                                    <p>Quisque tellus risus, adipisci viverra bibendum urna.</p>
                                </aside>
                            </v-fade-transition>
                        </div>

                        <v-layout align-center justify-center row style="padding-top:20px">
                            <v-btn large round :loading="loading" :disabled="loading" color="orange" class="white--text wow fadeInUp"
                                @click.native="loader = 'loading'">
                                Télécharger le programe
                                <v-icon right dark>cloud_download</v-icon>
                            </v-btn>
                        </v-layout>

                    </div>



                </div>
            </div>
        </section>
        <!--WOrk Process ends-->

        <!-- Testimonials -->
        <section id="our-testimonial" class="padding testimonial-bg-light parallaxie">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="owl-thumbs" class="owl-dots text-center bottom45">
                            <div class="owl-dot active"><img src="img/photo/11.jpg" alt=""></div>
                            <div class="owl-dot"><img src="img/photo/18.jpg" alt=""></div>
                            <!-- <div class="owl-dot"><img src="http://www.themesindustry.com/html/xeone/images/testimonial-3.jpg"
                                    alt=""></div> -->
                        </div>
                        <div id="testimonial-quote-nav" class="owl-carousel no-quote">
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                                        <div class="testimonial-quote darkcolor">
                                            <h3 class="bottom30 font-xlight">
                                                « Il nous faut donc étendre le vivier des compétences technologiques en
                                                y intégrant davantage de femmes qualifiées dans
                                                le domaine du Numérique…»
                                            </h3>
                                            <h6>Bruno N. KONE</h6>
                                            <small>Minstre de la Communication, de l’Economie Numérique et de la Poste,
                                                Porte Parole du Gouvernement</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                                        <div class="testimonial-quote darkcolor">
                                            <h3 class="bottom30 font-xlight">
                                                « Faites un usage fédérateur et constructif des technologies de
                                                l’information et de la communication, des réseaux
                                                sociaux, de ces modes de communication instantanée…»
                                            </h3>
                                            <h6>Michaelle JEAN</h6>
                                            <small>Secrétaire Générale de la Francophonie</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials Ends-->

        <!-- Partners -->
        <section id="logos" class="padding_bottom">
            <div class="container">
                <div class="row" style="padding-bottom: 1.8rem;padding-top: 2.5rem;">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                            <span>NOS </span>
                            <h2 class="darkcolor bottom20">PARTENAIRES</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                        <div id="partners-slider" class="owl-carousel">
                            <div class="item" style="height: 250px;">
                                <div class="logo-item"> <img alt="" src="img/partenaires/ftics.png"></div>
                            </div>
                            <div class="item" style="height: 250px;">
                                <div class="logo-item"><img alt="" src="img/partenaires/icann.jpg"></div>
                            </div>
                            <div class="item" style="height: 250px;">
                                <div class="logo-item"><img alt="" src="img/partenaires/sni.jpg"></div>
                            </div>
                            <div class="item" style="height: 250px;">
                                <div class="logo-item"><img alt="" src="img/partenaires/armoirie-burkina.png"></div>
                            </div>
                            <div class="item" style="height: 250px;">
                                <div class="logo-item"><img alt="" src="img/partenaires/images.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Partners Ends-->


        <!-- Contact US -->
        <section id="contactus" class="padding_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                            <span>Contactez-Nous</span>
                            <h2 class="darkcolor">#FENUD2018</h2>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
                        <!-- <p>West is not just about graphic design; it's more than that. We offer integral communication
                            services, and we're responsible for our process and results. We thank each client and their
                            projects.</p> -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 our-address top40">
                                <h5 class="bottom25">Adresse</h5>
                                <p class="bottom15">Permanence Femmes & TIC, Cocody, Riviéra 2 les jardins </p>
                                <!-- <a class="pickus" href="#." data-text="Get Directions">Get Directions</a> -->
                            </div>
                            <div class="col-md-6 col-sm-6 our-address top40">
                                <h5 class="bottom25">Email</h5>
                                <p class="bottom15">contact@fenud.org
                                    <!-- <span class="block">Inquiries :
                                        email@website.com
                                    </span> -->
                                </p>
                                <!-- <a class="pickus" href="#." data-text="Send a Message">Send a Message</a> -->
                            </div>
                            <div class="col-md-6 col-sm-6 our-address top40">
                                <h5 class="bottom25">Contacts</h5>
                                <p class="bottom15">
                                    (+225) 04 07 63 50
                                    <span class="block"> (+225) 07 55 07 78</span>
                                    <span class="block"> (+225) 22 43 69 62</span>
                                    <span class="block"> (+225) 07 57 92 16</span>
                                </p>
                                <!-- <a class="pickus" href="#." data-text="Call Us">Call Us</a> -->
                            </div>
                            <!-- <div class="col-md-6 col-sm-6 our-address top40">
                                <h5 class="bottom25">Our Support</h5>
                                <p class="bottom15">Main Support : info@website.com <span>Sales : support@website</span>
                                </p>
                                <a class="pickus" href="#." data-text="Open a Ticket">Open a Ticket</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 margin_bottom">
                        <form class="getin_form wow fadeInUp" data-wow-delay="400ms" onsubmit="return false;">
                            <div class="row">

                                <div class="col-sm-12" id="result"></div>

                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group bottom35">
                                        <input class="form-control" type="text" placeholder="Nom:" required id="first_name"
                                            name="first_name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group bottom35">
                                        <input class="form-control" type="text" placeholder="Prénom(s):" required id="last_name"
                                            name="last_name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group bottom35">
                                        <input class="form-control" type="email" placeholder="Email:" required id="email"
                                            name="email">
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group bottom35">
                                        <input class="form-control" type="tel" placeholder="contact:" id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-group bottom35">
                                        <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button type="submit" class="button orange text-white" id="submit_btn">Envoyer
                                        Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <!--Contact US Ends-->

        <!--Site Footer Here-->
        <footer id="site-footer" class="padding_half">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <img src="img/fenud_logo.jpg" alt="logo" class="footer-logo bottom45">
                        <ul class="social-icons small bottom25 wow fadeInUp" data-wow-delay="300ms">
                            <li><a target="_blank" href="https://web.facebook.com/Fenud.Africa/?hc_ref=ARRgzTDY9fPlhVRlAwKjRnNWvuCEzavolfFvjwQvahkkXR8AThxBtfI_maDjJ53OsaQ&fref=nf"><i
                                        class="fa fa-facebook"></i> </a> </li>
                            <li><a target="_blank" href="https://twitter.com/Fenud_Africa"><i class="fa fa-twitter"></i>
                                </a> </li>
                        </ul>
                        <p class="copyrights wow fadeInUp" data-wow-delay="400ms">© 2018 - FENUD, Un événement du
                            Réseau
                            International Femmes & TIC</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer ends-->
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.1.1.min.js"></script>

    <!--Bootstrap Core-->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!--to view items on reach-->
    <script src="js/jquery.appear.js"></script>

    <!--Equal-Heights-->
    <script src="js/jquery.matchHeight-min.js"></script>

    <!--Owl Slider-->
    <script src="js/owl.carousel.min.js"></script>

    <!--number counters-->
    <script src="js/jquery-countTo.js"></script>

    <!--Parallax Background-->
    <script src="js/parallaxie.js"></script>

    <!--Cubefolio Gallery-->
    <script src="js/jquery.cubeportfolio.min.js"></script>

    <!--FancyBox popup-->
    <script src="js/jquery.fancybox.min.js"></script>

    <!-- Video Background-->
    <script src="js/jquery.background-video.js"></script>

    <!--TypeWriter-->
    <script src="js/typewriter.js"></script>

    <!--Particles-->
    <script src="js/particles.min.js"></script>

    <!--WOw animations-->
    <script src="js/wow.min.js"></script>

    <!--Revolution SLider-->
    <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="js/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/revolution/extensions/revolution.extension.video.min.js"></script>
    <!-- INSTANCE CDN VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="js/main.js"></script>
</body>

</html>